.btn {
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: #fff;
  border: 0px;

  &:hover {
    cursor: pointer;
    background-color: darkcyan;
    transition: 1s all;
    outline: none;
  }
}
